* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: #e84855;
  display: flex;
  text-align: right;
  position: sticky;
  max-width: 100%;
  height: 10vh;
  z-index: 0;
}

nav a {
  text-decoration: none;
  color: #f2f3ae;
  font-size: 20px;
  font-weight: bold;
  padding: 25px 20px;
}

#contact a {
  color: #f2f3ae;
}

section a {
  text-decoration: none;
  color: #272932;
  font-size: 20px;
  font-weight: bold;
  padding: 25px 20px;
}

#logo {
  width: 50px;
  height: 50px;
  margin: 12px;
  margin-right: auto;
  cursor: pointer;
}

.fa-free-code-camp,
.fa-github {
  font-size: 60px;
  padding: 5px;
  padding-right: 25px;
}

#welcome-section {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  max-width: 100%;
  position: relative;
  padding: 0 20%;
  background-color: #272932;
  color: #f2f3ae;
}

#div1 {
  padding-bottom: 50px;
  font-size: 22px;
}

#projects {
  background-color: #c6b38e;
  height: 100vh;
  max-width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "my-projects  my-projects"
    "project1     project2"
    "project3     project4";
}

section img {
  max-width: 150px;
  padding-right: 22px;
}

.project-tile {
  margin: 20px;
  transition: transform 0.3s ease;
}

.project-tile:hover {
  transform: scale(1.05);
}

#my-projects {
  grid-area: my-projects;
}

#project1 {
  grid-area: project1;
}

#project2 {
  grid-area: project2;
}

#project3 {
  grid-area: project3;
}

#project4 {
  grid-area: project4;
}

#contact {
  background-color: #272932;
  color: #f2f3ae;
  height: 90vh;
  max-width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "my-medias     my-medias"
    "github       freecodecamp";
}

#my-medias {
  grid-area: my-medias;
}

#github {
  grid-area: github;
}

#freecodecamp {
  grid-area: freecodecamp;
}

footer {
  background-color: #e84855;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  color: #f2f3ae;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 600px) {
  #projects {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "my-projects"
      "project1"
      "project2"
      "project3"
      "project4";
  }

  #contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
      "my-medias"
      "github"
      "freecodecamp";
  }
}
